body, html {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.textInput {
    box-sizing: border-box;
    border-radius: 3px;
    width: calc(100% - 20px);
    font-size: 20px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-left: 10px;
}

#tags{
    margin-top: 0;
    font-size: 14px;
}

#mainImage {
    max-width: calc(100% - 40px);
    max-height: calc(100% - 40px);
    margin-top: 5px;
    margin-left: 20px;
}

#description {
    margin: 10px;
    width: calc(100% - 22px);
    font-size: 14px;
    text-align: justify;
    padding: 30px overflow : hidden;
    border-radius: 3px;
}

#deadline {
    box-sizing: border-box;
    margin-left: 10px;
    width: calc(50% - 15px);
    float: left;
    text-align: Center;
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
}

#price {
    box-sizing: border-box;
    margin-left: 10px;
    width: calc(50% - 15px);
    float: left;
    text-align: Center;
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
}

#facebook {
    box-sizing: border-box;
    margin-left: 10px;
    width: calc(50% - 15px);
    float: left;
    text-align: Center;
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
}

#twitter {
    box-sizing: border-box;
    margin-left: 10px;
    width: calc(50% - 15px);
    float: left;
    text-align: Center;
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
}

#oKButton {
    overflow: hidden;
    background-color: #0098ff;
    font-color: rgb(0, 0, 0);
    position:fixed;
    z-index:100;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    font-size: 40px;
    text-align: Center;
    font-weight: Bolder;
    border-radius: 0px;
    border: 0px solid #ccc;
    box-sizing: border-box;
}