body, html {
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#title {
    box-sizing: border-box;;
    width: calc(100% - 20px);
    margin: 10px;
}

#tags{
    margin-top: 0;
}

#mainImage {
    max-width: calc(100% - 40px);
    max-height: calc(100% - 40px);
    margin: 10px;
}

#description {
    margin: 10px;
    width: calc(100% - 22px);
    font-size: 14px;
    text-align: justify;
    padding: 30px
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#deadline {
    box-sizing: border-box;
    margin-left: 10px;
    width: calc(50% - 15px);
    float: left;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#price {
    box-sizing: border-box;
    margin-left: 10px;
    width: calc(50% - 15px);
    float: left;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#facebook {
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 10px;
    width: calc(50% - 15px);
    float: left;
    padding: 10px;
    border-radius: 3px;
    font-family: Lucida Grande;
    font-size: 14px;
    font-color: rgb(59, 89, 152);
    border: 1px solid #ccc;
}

#twitter {
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 10px;
    width: calc(50% - 15px);
    float: left;
    padding: 10px;
    font-family: Helvetica Neue;
    font-color: rgb(85, 172, 238);
    border-radius: 3px;
    border: 1px solid #ccc;
}

#wantIn {
    overflow: hidden;
    background-color: #00ff00;
    font-size: 40px;
    font-weight: Bolder;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0px;
    padding: 20px;
    position:fixed;
    z-index:100;
}