body, html {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#title {
    box-sizing: border-box;;
    width: calc(100% - 20px);
    margin: 10px 10px 0px 0px;
}

#tags{
    margin-top: 0;
}

#mainImage {
    max-width: calc(100% - 40px);
    margin: 20px;
}

#center-cropped {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 400px;
    width: 400px;
}

#description {
    margin: auto;
    width: calc(100% - 40px);
    height: 100px;
    font-size: 2vh;
    text-align: justify;
/*    padding: 30px*/
    float: center;
    font-weight: normal;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#deadline {
    height: 80px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 10px;
    width: calc(50% - 15px);
    float: left;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#price {
    font-size: 7vw;
    height: 80px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 10px;
    width: calc(50% - 15px);
    float: left;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#facebook {
    background-image:url("/img/facebooklogo.png");
    background-repeat: no-repeat;
    background-position: 2% 50%;
    background-size: 40px;
    text-align: right;
    height: 80px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 10px;
    width: calc(50% - 15px);
    float: left;
    border-radius: 3px;
    font-family: Lucida Grande;
    color: rgb(59, 89, 152);
    border: 1px solid #ccc;
}

#twitter {
    background-image:url("/img/twitterlogo.png");
    background-repeat: no-repeat;
    background-position: 2% 50%;
    background-size: 40px 32px;
    text-align: right;
    height: 80px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 10px;
    width: calc(50% - 15px);
    float: left;
    font-family: Helvetica Neue;
    color: rgb(85, 172, 238);
    border-radius: 3px;
    border: 1px solid #ccc;
}

#wantIn {
    overflow: hidden;
    background-color: #00ff00;
    font-size: 40px;
    font-weight: Bolder;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0px;
    padding: 20px;
    position:fixed;
    z-index:100;
}