li div {
    float : left;
    width: 33.33%;
/*    width: min(250px, 25%);*/
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
